/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Components */
@import url("components/cards.css");
@import url("components/banner.css");
@import url("components/button.css");
/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

/* Custom design below! */

.container {
  width: 1069px;
  margin: 0 auto;
}

.container > h1 {
  margin-bottom: 16px;
}

.footer {
  text-align: center;
  padding: 42px;
  background-color: #072ac8;
  margin-top: 38px;
}

#logo {
  width: 88px;
  border-radius: 50%;
  image-rendering: -webkit-optimize-contrast;
  padding: 0px;
}

.links {
  color: white;
}

.links a {
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.fas {
  color: red;
}

.footer p {
  margin-bottom: -7px;
}

@media (max-width: 1250px) {
  .container {
    width: 1069px;
  }

}

@media (max-width: 770px) {
  .container {
    width: 700px;
  }

  .banner-text {
    font-size: 12px;
    margin-top: -16px;
  }

  .banner-title {
    font-size: 24px;
  }

  .btn-medium {
    padding: 5px 8px;
    font-size: 14px;
  }

  .card-trip {
    width: 58%;
  }
}

@media (max-width: 540px) {
  .container {
    width: 250px
  }

  .banner-text {
    font-size: 10px;
    margin-top: -16px;
  }

  .banner-title {
    font-size: 18px;
  }

  .btn-medium {
    padding: 3px 6px;
    font-size: 12px;
  }

  .banner a {
    margin-left: 25px;
  }

  .mobile-flex {
    display: flex;
    justify-content: center;
  }
}

