.banner {
  background-size: cover;
  background-position: bottom;
  padding: 200px 0;
  height: 86px;
}

.banner-title {
  color: white;
  font-size: 37px;
  font-weight: 600;
}

.banner-text {
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin-top: -27px;
  font-style: oblique;
  margin-bottom: 30px;
  opacity: 0.9;
}

